@model IEnumerable<PHASE_END_PROJECT_3.Models.CustLogInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserInfo.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogId })
        </td>
    </tr>
}

</table>
